body {
  background-color: #393e49;
  color: white;
  padding: 40px;
  text-align: center;
  font-family: helvetica;
}

h1 {
  background-color: rgb(119, 117, 133);
  color: white;
  font-family: helvetica;
  font-size: 48px;
}