body {
  margin-top: 14%;
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Helvetica;
  text-align: center;
}

.h2{
  font-weight:bold;
}

button {
  background-color: #dddfe7;
  border: none;
  color: rgb(43, 41, 41);
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: helvetica;
  font-weight: bold;
  font-size: 18px;
  margin: 4px 2px;
  border-radius:4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: rgb(46, 43, 43);
}